body {
    color: purple;
}
#task-button {
    color: purple;
    float: right;
  }

  #doneid {
    text-decoration: line-through;
    /* color: green; */
  }

  #donedot{
    color:green;
}

#tododot {
    color: red;
}
