body {
    color: purple;
}
#task-button {
    color: purple;
    float: right;
  }

  #doneid {
    text-decoration: line-through;
  }

  #donedot{
    color:green;
}

#tododot {
    color: rgb(211, 9, 9);
}
