body {
    color: purple;
}
#task-button {
    color: purple;
    float: right;
  }

#icon-buttons {
  color: purple;
  float: none;
}

#doneid {
    text-decoration: line-through;
  }

#donedot{
    color:green;
}

#tododot {
    color: rgb(211, 9, 9);
}

.overdue {
  color: rgb(211, 9, 9);
}
