/* #doneid {
    text-decoration: line-through;
  } */

  #todoid {
      /* text-decoration: line-through; */
      /* color: red; */
  }

  /* #donedot{
      color:green;
  }

  #tododot {
      color: red;
  } */