body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: purple;

}

@media only screen and (max-width: 540px) {
  body {
    background-color: plum;
  }
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.taskRow {
  padding-top: 10px;
  padding-bottom: 10px;
  border-top: solid lightgray;
}

.appRow {
  padding-top: 10px;
  padding-bottom: 10px;
  border-top: double rgb(207, 112, 216);
}
